/* 列表页 */
.service{
padding-top: 4.5rem;
}
.surgery{
    width: 19.1875rem;
    height: auto;
    margin: 0 auto;
    overflow: hidden; 
    margin-bottom: 1rem;
 }
 .surgery-top{
 width: 8rem;
 height: 1.1875rem;
 background: linear-gradient(to right, #bdeaff, #fff);
 line-height: 1.1875rem;
 }
 .surgery-top img{
     width: 0.90625rem;
     height: 1.03125rem;
     margin-bottom: 0.1rem;
 }
 .surgery-top span{
     color: #3e3a39;
     font-size: 0.875rem;
     padding-left: 0.1rem;
 }
 .service .service-cont{
    width: 100%;
    height: auto;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 1.1875rem;
}
.service .service-cont .service-item{
    width: 25%;
    height: 4.5rem;
    text-align: center;
    color: #3e3a39;
    font-size: 0.75rem;
    margin-top: 1.125rem;
}
.service .service-cont .service-item .service-item-circle{
    width: 3.25rem;
    height: 3.25rem;
    margin: 0 auto;
    border: 1px solid #ceeafc;
    border-radius: 50%;
    box-shadow: 0 0 5px #ceeafc;
    margin-bottom: 0.4rem;
    overflow: hidden;
}

/* 科室 内科 */
.contain{
    width: 20rem;
    padding-top: 4.5rem;
    overflow: hidden;
}
.tophead{
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddccdd;
    color: #3e3a39;
    font-size: 1.125rem;
}
.topcont{
    width: 19.25rem;
    margin: 0 auto;
    padding-top: .5rem;
}
.topcont p{
    padding-bottom: 0.5rem;
    color: #3e3a39;
    text-align: justify;
    font-size: 0.75rem;
}
.line{
    height: 0.25rem;
    width: 100%;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    margin:1.5rem auto;
}
.second{
    width: 19.25rem;
    margin: 0 auto;
}
.second .second-title{
    width: 16.875rem;
    margin: 0 auto;
    border-radius: 0.2rem;
    background-color: #58c2f5;
    color: #fff;
    font-size: 0.9375rem;
    text-align: center;
    line-height: 2rem;
    margin-bottom: 0.875rem;
}
.second .second-cont{
    width: 100%;
    height: 10.25rem;
    margin: 0 auto;
    border: 1px solid #dcdcdc;
    position: relative;
}
.second .second-cont .cont-left{
    padding-left: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.second .second-cont .cont-right{
    position: absolute;
    right: 0;
    bottom:0;
}
.second .second-cont .cont-left .head{
    padding-top: 0.8rem;
    color: #3e3a39;
}
.second .second-cont .cont-left .head h2{
   color: #0064a7; 
   display: inline-block;
   margin-right: 0.5rem;
}
.second .second-cont .cont-left .headbottom{
    color: #3e3a39;
    font-size: 0.75rem;
    line-height: 1.3rem;
}

.second .second-cont .cont-left .shanchang{
    color: #727171;
    font-size: 0.8125rem;
}
.second .second-cont .cont-left .xiangqing{
    color: #0064a7;
    border: 1px solid #0064a7;
    font-size: 0.75rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    position: absolute;
    bottom: 0.5rem;
}
.second .second-bottom {
    text-align: center;
    padding-top: 0.625rem;
}
.second .second-bottom a{
    color: #3e3a39;
    font-size: 0.8125rem;
    padding: 0.4rem 0.7rem;
    background-color: #cdeaff;
}
.third{
    width: 19.25rem;
    margin: 0 auto;
    text-align: center;
}
.third span{
    font-size: 0.9375rem;
    color: #fff;
    background-color: #0064a7;
    line-height: 2rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0.2rem;
}
.third p{
    font-size: 0.8125rem;
    padding-bottom: 0.7rem;
    padding-top: 0.3rem;
    color: #3e3a39;
    text-align: justify;
}
.third-second span{
    background-color: #89d3dc;
}
.third-third {
    padding-bottom: 1.75rem;
}
.third-third span{
    background-color: #58c2f5;
}
.third-first .first-ciecle{
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 1rem;
}
.third-first .first-ciecle .circle{
    width: 4.03125rem;
    height: 4.03125rem;
    margin-right: 0.5em;
    margin-left: 0.3rem;
    border-radius: 2rem;
    position: relative;
}
.third-first .first-ciecle .circle:nth-last-child(1){
    margin-right: 0;
    border: 1px solid #d3ecfc;
    box-shadow: 0 0 5px #d3ecfc;
}
.third-first .first-ciecle .circle img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.third-first .first-ciecle .circle p{
 position: absolute;
 left: 50%;
 margin-left: -1rem;
 line-height: 3.5rem;
}
.third-first .first-ciecle .circle:nth-last-child(1) p{
    margin-left: -1.54rem;
}
.third-fourth{
    width: 17.5rem;
    height: auto;
    overflow: hidden;
    padding-bottom: 1.5rem;
}
.third-fourth .cont-left,.third-fourth .cont-right{
    padding-top: 1rem;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.third-fourth .cont-left .left,.third-fourth .cont-right .left{
    width: 5.8125rem;
    height: 5.8125rem;
}
.third-fourth .cont-left .center,.third-fourth .cont-right .center{
    width: 2rem;
    height: 0;
    border-top: 1px solid #a0a0a0;
    margin-top: 2.3rem;
    margin-left: -0.3rem;
    transform: rotate(135deg)
}
.third-fourth .cont-left .right,.third-fourth .cont-right .right{
    width: 10.45rem;
    margin-left: -0.3rem;
}
.third-fourth .cont-left .right .top,.third-fourth .cont-right .right .top{
    width: 100%;
    height: 1.6rem;
    border-bottom: 1px solid #a0a0a0;
    color: #3e3a39;
    font-weight: bold;
    font-size: 0.9rem;
}
.third-fourth .cont-left .right .bottom,.third-fourth .cont-right .right .bottom{
    width: 100%;
    color: #3e3a39;
    font-size: 0.8125rem;
    line-height: 1.2rem;
    padding-top: 0.5rem;
    text-align: justify;
}
.third-fourth .cont-right .center{
    transform: rotate(45deg);
    margin-right: -0.3rem;
}
.third-fourth .cont-right .right{
    margin-left: 0;
}
.third-fourth .fourth-cont .right .top i{
    color: #3aa5ef;
    font-size: 1rem;
}
