/* 顶部首图 */
.banner{
    width: 19.125rem;
    margin: 0 auto;
    padding-top: 3.84375rem;
    position: relative;
    margin-bottom: 1.25rem;
}
.banner .banner-cont{
    width: 16.25rem;
    height: 3.625rem;
    position: absolute;
    bottom: 2.3125rem;
    right: 0;
    background: rgba(255,255,255,0.8);
}
.banner .banner-cont .banner-title{
    width: 8.25rem;
    height: 1.5rem;
    margin: 0 auto;
    border-bottom: 1px solid #626262;
    text-align: center;
    font-size: 1.125rem;
    color: #0064a7;
    font-weight: bold;
    line-height: 1.5rem;
    margin-top: 0.4375rem;
}
.banner .banner-cont p{
    color: #3e3a39;
    font-size: 0.75rem;
    text-align: center;
    line-height: 1.5rem;
}
/* border */
.border{
    height: 0.25rem;
    width: 100%;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 1.25rem;
}

/* 医院简介 */
.introduction{
    width:19.1875rem;
    margin: 0 auto;
    overflow: hidden;
}
.introduction-title{
    width: 11.75rem;
    margin: 0 auto;
    text-align: center;
}
.introduction-title p{
    text-align: center;
    color: #3e3a39;
    font-size: 0.78125rem; 
}
.introduction-title .introduction-title-bottom{
    font-size: 0.875rem;
    background-color: #cdeaff;
    padding: 0.1rem 0.2rem;
}
.introduction-title .introduction-title-cn{
    width: 10.8125rem;
    height: 2.0625rem;
    margin: 0 auto;
    position: relative;
}
.introduction-title .introduction-title-cn .left,.introduction-title .introduction-title-cn .right{
    width: 2.4375rem;
    border-top: 1px solid #313131;
    position: absolute;
    bottom: 0.9rem;
}
.introduction-title .introduction-title-cn .left{
    left: 0;
}
.introduction-title .introduction-title-cn .left span{
    width: 70%;
    display: block;
    float: right;
    border-top: 1px solid #313131;
    margin-top: -2px;
}
.introduction-title .introduction-title-cn .right{
    right: 0;
}
.introduction-title .introduction-title-cn .right span{
    width: 70%;
    display: block;
    float: left;
    border-top: 1px solid #313131;
    margin-top: -2px;
}
.introduction-title .introduction-title-cn .center{
   width: 5.0625rem;
   position: absolute;
   left: 2.9rem;
   line-height: 1.925rem;
   font-size: 1.25rem;
   color: #0064a7;
}
.introduction-cont p{
    text-align: justify;
    color: #3e3a39;
    font-size: 0.6875rem;
    line-height: 0.9375rem;
    margin-top: 1.1875rem;
    margin-bottom: 1rem;
}
/* 医师团队 */
.team{
    width:19.1875rem;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 1rem;
}

/* 医院科室 */
.department{
    width:19.1875rem;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 1rem; 
}
.department .department-cont{
    /* display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
    width: 100%;
    margin-top: 1.3125rem;
    text-align: justify;
}
.department .department-cont div{
    margin-bottom: 1rem;
}
.department .department-cont span{
    color: #3e3a39;
    font-size: 0.75rem;
    border: 1px solid #bbe7ff;
    padding: 0.40625rem 0.2rem;
    /* display: inline-block; */
    box-shadow: 0 0 5px #ceeafc;
    margin-right: 0.1rem;
}
.department .department-cont .guke{
    margin-right: 0;
}
.department .department-cont .linetwo span{
    margin-right: 0.28rem;
}
.department .department-cont #erbihou{
    margin-right: 0;
}
.department .department-cont .linethree span{
    margin-right: 0.29rem;
}
.department .department-cont .linethree .more{
    margin-right: 0rem;
    color: #868686;
}

/* 设备 */
.equipment{
    width:19.1875rem;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 1rem; 
}
/* 环境 */
.environment{
    width:19.1875rem;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 1rem; 
}
.environment-center{
    width: 13rem;
    text-align: center;
    margin: 0 auto;
    font-size: 0.875rem;
    background-color: #cdeaff;
    padding: 0.1rem 0.2rem;
}
/* 理念 */
.concept{
    width:19.1875rem;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 1rem;
}
/* 公益 */
.welfare{
    width:19.1875rem;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 1rem;
}
.welfare .introduction-cont .gongyi3{
    margin-top: 0.25rem;
}


